footer {
    position: relative;
    background: url(../png/bullets.png) no-repeat center 0;
    background-size:cover;
}


footer {
    padding-left: 60px;
    padding-right: 20px;
    padding-top:60px;
    padding-bottom: 70px;
}


.text {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}


.text > h1 {
    text-align: center;
    color: wheat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(20px, 5vw, 40px);
    -webkit-text-stroke: 0.1px white;
    letter-spacing: 2px;
}


@media screen and (max-width: 1200px) {
    .text {
        width: 500px;
    }
}


@media screen and (max-width: 900px) {
    .text {
        width: 350px;
    }

    footer {
        padding-left: 40px;
        padding-right: 40px;
        padding-top:20px;
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 400px) {
    .text {
        width: 300px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
        padding-top:20px;
        padding-bottom: 40px;
    }
}