header {
    position: relative;
    background: url(../png/header_background.png) no-repeat center 0;
    background-size: cover;
}


header {
    padding-left: 57px;
    padding-top: 40px;
    padding-right: 57px;
    padding-bottom: 110px;
}


header > h1 {
    text-align: center;
    color: wheat;
    font-family: 'Kyiv Type Titling';
    font-weight: bold;
    font-size: clamp(20px, 5vw, 60px);
    -webkit-text-stroke: 0.1px white;
    letter-spacing: 2px;
}

.error {
    text-align: center;
    color:darkred;
    font-family: 'Kyiv Type Titling';
    font-size: clamp(15px, 4vw, 50px);
}


.volume {
    position: absolute;
}


.parallax {
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}


/*@media screen and (max-width: 700px) {*/
/*    header > h1 {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 400px) {*/
/*    header {*/
/*        padding-bottom: 70px;*/
/*    }*/
/*}*/