main {
    border: 10px ridge whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}


h2 {
    color: wheat;
    font-family: 'Kyiv Type Titling';
    font-size: clamp(15px, 5vw, 45px);
    -webkit-text-stroke: 0.1px white;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td, th {
    color: wheat;
    font-family: 'Kyiv Type Titling';
    font-size: clamp(15px, 3vw, 20px);
    padding-left: 10px;
    padding-right: 10px;
}

th {
    font-weight: bold;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
}


.restart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    width: clamp(100px, 70vw, 500px);
    color: white;
    font-family: 'Kyiv Type Titling';
    font-size: clamp(15px, 5vw, 45px);

    background-color: rgb(34, 34, 34);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.restart:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}


.card-container {
    background-color: transparent;
    width: 90%;
    perspective: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.card {
    position: relative;
    width: 100%;
    padding-bottom: 38%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.shell-img,
.shell-img-back {
    width: 100%;
}

.shell-img-back {
    visibility: hidden;
}


.shells,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.shells,
.back {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.shells,
.back {
    border: 4px solid rgb(255, 255, 255);
}

.shells {
    transform: rotateX(180deg);
}


.shell {
    background-color: rgb(34, 34, 34);
    border: 4px solid rgb(255, 255, 255);
    margin: 15px;
}


@media screen and (max-width: 850px) {
    .shell {
        margin: 10px;
        border: 2px solid rgb(255, 255, 255);
    }
}


@media screen and (max-width: 560px) {
    .shells,
    .back {
        border: 2px solid rgb(255, 255, 255);
    }

    .shell {
        margin: 5px;
        border: 2px solid rgb(255, 255, 255);
    }

    td, th {
        font-size: 15px;
    }
}